@import "normalize.scss";
@import "fonts.scss";
@import "variables.scss";
@import "mixins.scss";

body {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  font-family: $font-oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $basic-black;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
