@font-face {
  font-family: "Oswald";
  src: url("../css/fonts/oswaldregular.woff2") format("woff2"),
       url("../css/fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Oswald";
  src: url("../css/fonts/oswaldmedium.woff2") format("woff2"),
       url("../css/fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
}
