$font-oswald: "Oswald", "Arial", sans-serif;
$basic-black: #000000;
$basic-white: #ffffff;
$basic-grey: #444444;
$background-grey: #f2f2f2;
$grey: #eaeaea;
$grey-line: #ebebeb;
$grey-line-small: #cdcdcd;
$catalog-grey: #222222;
$catalog: #111111;
$basic-green: #68b738;
