.catalog-more {
  border-bottom: 1px solid $grey-line;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;

  @include tablet {
    border: 2px solid $background-grey;
    width: 50%;
    align-self: stretch;
    justify-content: center;
    margin-bottom: 14px;
    padding: 0 40px 0 40px;
  }

  @include desktop {
    width: 25%;
  }
}

.catalog-more__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $catalog;
  margin: 0;

  @include tablet {
    font-size: 20px;
    line-height: 22px;
  }
}

.catalog-more__text {
  font-family: $font-arial;
  font-size: 12px;
  line-height: 16px;
  color: $basic-grey;
  text-align: center;
  margin: 0;

  @include tablet {
    font-size: 16px;
    line-height: 18px;
  }
}

.catalog-more__link {
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-grey;
  background-color: $background-grey;
  padding: 10px 0;
}
