.catalog-add {
  max-width: 1220px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  position: relative;

  @include tablet {
    padding: 0 30px 69px;
  }

  @include desktop {
    padding: 0 0 86px 0;
  }
}

.catalog-add__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  width: 226px;
  padding-right: 20px;
  margin-bottom: 34px;
  margin-top: 30px;
  background: $basic-white;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 100vw;
    height: 3px;
    background: $basic-green;
    z-index: -1;
  }

  @include tablet {
    font-size: 36px;
    line-height: 36px;
    text-align: left;
    border-bottom: none;
    padding-bottom: 80px;
  }

  @include desktop {
    padding-bottom: 80px;
  }
}

.catalog-add__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 34px;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.catalog-add__list {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $grey-line-small;

  @include desktop {
    width: 70%;
  }
}
