.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.catalog__title {
  width: 100%;
  font-size: 36px;
  line-height: 36px;
}


@media (min-width: $tablet-width) {
  .catalog {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
