.catalog-add {
  max-width: 1220px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  position: relative;

  @include tablet {
    padding: 0 30px;
    margin: 0;
  }

  @include desktop {
    padding: 0 0 86px 0;
  }
}

.catalog-add__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 34px;
  margin-top: 30px;
  position: relative;

  & span {
    background: $basic-white;
    padding-right: 20px;

    @include tablet {
      padding-right: 35px;
      padding-left: 37px;
    }

    @include desktop {
      padding-left: 30px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 56%;
    left: 30px;
    width: 100vw;
    height: 2px;
    background: $basic-green;
    z-index: -1;

    @include tablet {
      top: 59%;
    }
  }

  @include tablet {
    font-size: 36px;
    line-height: 36px;
    text-align: left;
    margin-bottom: 80px;
    margin-top: 0;

    &::after {
      content: "";
      position: absolute;
      top: 59%;
      right: 0;
      width: 100vw;
      height: 2px;
      background: $basic-green;
      z-index: -1;
    }
  }
}

.catalog-add__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 34px;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.catalog-add__list {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $grey-line-small;

  @include desktop {
    width: 70%;
    border-top: none;
  }
}
