.catalog-more {
  border-bottom: 1px solid $grey-line;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 0;

  @include tablet {
    border: 2px solid $background-grey;
    align-self: stretch;
    justify-content: center;
    margin-bottom: 68px;
    padding: 135px 38px 30px 38px;
    width: calc(50% - 30px);
  }

  @include desktop {
    width: calc(25% - 51px);
  }
}

.catalog-more__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $catalog;
  margin: 20px 0 8px;

  @include tablet {
    font-size: 20px;
    line-height: 22px;
    margin: 0 36px 23px;
  }
}

.catalog-more__text {
  font-family: $font-arial;
  font-size: 12px;
  line-height: 16px;
  color: $basic-grey;
  text-align: center;
  margin: 0 0 21px 0;

  @include tablet {
    font-size: 16px;
    line-height: 18px;
    margin: 0 40px 87px 40px;
  }
}

.catalog-more__link {
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-grey;
  background-color: $background-grey;
  padding: 10px 0;
}
