.catalog-more {
  border-bottom: 1px solid $grey-line;
  margin-left: 22px;
}

.catalog-more__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $catalog;
}

.catalog-more__text {
  font-family: $font-arial;
  font-size: 12px;
  line-height: 16px;
  color: $basic-grey;
}

.catalog-more__link {
  font-size: 16px;
  line-height: 0px;
  text-transform: uppercase;
  color: $basic-grey;
  background-color: $background-grey;
}
