.category {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 20px;
  margin-bottom: 10px;

  @include tablet {
    padding: 0 30px;
    margin-bottom: 45px;
  }

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto 71px 110px;
    padding: 0;
  }
}

.category__item {
  background-color: $background-grey;
  padding: 30px 20px 20px 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;

  @include tablet {
    padding: 77px 60px 56px 52px;
    margin-bottom: 31px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include desktop {
    padding: 77px 51px 59px 52px;
    width: calc(50% - 40px);
    margin-bottom: 0;
  }
}

.category__image {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 25px;
  left: 22px;
  background: $basic-green;

  @include tablet {
    right: 61px;
    left: auto;
    top: 91px;
    width: 200px;
    height: 200px;
  }

  @include desktop {
    left: 52px;
    top: 47px;
    width: 100px;
    height: 100px;
  }
}

.category__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: $basic-black;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  padding-left: 70px;

  @include tablet {
    font-size: 36px;
    line-height: 36px;
    padding-left: 0;
    margin-bottom: 24px;
  }

  @include desktop {
    text-align: center;
    margin-bottom: 76px;
    margin-left: 26px;
  }
}

.category__title--pro {
  @include tablet {
    margin-bottom: 27px;
  }

  @include desktop {
    margin-bottom: 74px;
    margin-left: 61px;
  }
}

.category__icon {
  position: absolute;
}

.category__icon--slim {
  left: 8px;
  bottom: 2px;

  @include tablet {
    width: 140px;
    height: 192px;
    left: 29px;
    bottom: 17px;
  }

  @include desktop {
    width: 70px;
    height: 97px;
    left: 15px;
    bottom: 9px;
  }
}

.category__icon--pro {
  left: -9px;
  bottom: 11px;

  @include tablet {
    width: 268px;
    height: 112px;
    left: -36px;
    bottom: 44px;
  }

  @include desktop {
    width: 134px;
    height: 56px;
    left: -18px;
    bottom: 24px;
  }
}

.category__text {
  font-family: $font-arial;
  font-weight: 400;
  color: $basic-grey;
  padding: 0;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid $grey-fieldset;
  margin-bottom: 17px;

  @include tablet {
    font-size: 16px;
    line-height: 24px;
    width: calc(100% - 212px);
    border-bottom: none;
    margin-bottom: 52px;
    padding: 0;
  }

  @include desktop {
    width: 100%;
    margin-bottom: 24px;
  }
}

.category__text--pro {
  @include tablet {
    width: calc(100% - 256px);
  }

  @include desktop {
    width: calc(100% - 21px);
  }
}

.category__link {
  display: flex;
  align-items: center;

  &:active {
    opacity: 0.3;
  }
}

.category__link-title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-black;
  background: $background-grey;
  z-index: 1;
  padding: 0 20px 0 0;
  margin: 0;
  position: relative;

  @include tablet {
    font-size: 20px;
    line-height: 30px;
    width: 108px;
  }
}

.category__arrow {
  position: absolute;
  left: 112px;
  transition: left 0.3s;

  &:hover {
    left: 118px;
  }

  @include tablet {
    left: 172px;

    &:hover {
      left: 178px;
    }
  }
}
