.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.contact__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 28px 19px 26px 19px;
  background: $background-grey;

  &--white {
    background: $basic-white;
  }

  @include tablet {
    padding: 65px 72px 58px 71px;
  }

  @include desktop {
    width: 570px;
    padding: 62px 89px 60px 76 px;
    position: absolute;
    top: 95px;
    left: 110px;
    background: $basic-white;
    z-index: 1;
  }
}

.contact__title {
  text-transform: uppercase;
  margin: 0;
  width: 140px;
  color: $dark-grey;

  @include tablet {
    font-size: 20px;
    line-height: 22px;
    width: 170px;
  }

  @include desktop {
    line-height: 21px;
  }
}

.contact__text {
  margin: 0;
  line-height: 20px;
  font-family: $font-arial;
  color: $basic-grey;
  width: 140px;

  @include tablet {
    font-size: 16px;
    width: 170px;
    text-align: right;
  }
}

.contact__map {
  width: 100%;
  display: flex;
  height: 362px;

  @include tablet {
    height: 400px;
  }
}

.contact.map-show .contact__img {
  display: none;
}
