.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.contact__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 28px 19px 26px 19px;
  background: $background-grey;

  &--white {
    background: $basic-white;
  }

  @include tablet {
    padding: 66px 72px 57px 71px;
  }

  @include desktop {
    width: 430px;
    padding: 64px 67px 58px 73px;
    position: absolute;
    top: 89px;
    left: 110px;
    background: $basic-white;
    z-index: 1;
  }
}

.contact__title {
  text-transform: uppercase;
  margin: 0;
  width: 140px;
  color: $dark-grey;
  font-weight: 400;

  @include tablet {
    font-size: 20px;
    line-height: 22px;
    width: 170px;
  }

  @include desktop {
    line-height: 21px;
    padding-top: 7px;
  }
}


.contact__text {
  margin: 0;
  line-height: 20px;
  font-family: $font-arial;
  color: $basic-grey;
  width: 140px;

  @include tablet {
    font-size: 16px;
    width: 170px;
    text-align: right;
  }

  @include desktop {
    margin-right: 10px;
    text-align: left;
  }
}

.contact__text span {
  @include tablet {
    display: block;
    margin-top: 18px;
  }
}

.contact__map {
  width: 100%;
  display: flex;
  height: 362px;

  @include tablet {
    height: 400px;
  }
}

.contact.map-show .contact__img {
  display: none;
}
