.example {
  background-color: $grey;
  padding: 27px 21px 25px 20px;
  display: flex;
  flex-direction: column;

  @include tablet {
    padding: 43px 31px 33px 30px;
    background-color: $basic-white;
  }

  @include desktop {
    flex-direction: row;
  }
}

.example__flex {
  @include desktop {
    width: 40%;
  }
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  margin: 0;

  @include tablet {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }
}

.example__text {
  font-family: $font-arial;
  color: $basic-grey;
  margin: 0;

  @include tablet {
    font-size: 16px;
    line-height: 24px;
  }
}

.example__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }

  @include desktop {
    flex-direction: column;
    text-align: left;
  }
}

.example__info {
  display: flex;
  justify-content: space-between;
}

.example__statistic b {
  font-size: 24px;
  line-height: 24px;
  display: flex;
  flex-direction: column;

  @include tablet {
    font-size: 30px;
    line-height: 37px;
  }

  @include desktop {
    align-items: left;
  }
}

.example__statistic span {
  font-family: $font-arial;
  font-size: 12px;
  line-height: 12px;
  color: $basic-grey;

  @include tablet {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__title-small {
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;

  @include tablet {
    font-size: 20px;
    width: 200px;
    text-align: right;
  }

  @include desktop {
    width: 100%;
    text-align: left;
  }
}
