.filters__list {
  @include reset-ul;

  @include tablet {
    border: 1px solid $grey-border;

    &--programm {
      padding: 25px 28px 29px 28px;
    }
  }
}

.filters__list--add {
  display: flex;
  flex-direction: column;
  border: 0;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.filters__item--add {
  @include tablet {
    width: 50%;
  }

  @include desktop {
    width: 25%;
  }
}

.filters__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet {
    margin-bottom: 32px;
  }
}

.filters__label {
  align-items: center;
  position: relative;
  cursor: pointer;
  display: inline-flex;
}

.filters__icon-tick {
  position: absolute;
  fill: $basic-green;
  left: 7px;
  width: 21px;
  height: 31px;
  display: none;

  @include tablet {
    left: 12px;
  }
}

.filters__radio + .filters__label::before {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $grey-line-small;
  flex-shrink: 0;
  box-sizing: border-box;
  margin-right: 10px;

  @include tablet {
    width: 40px;
    height: 40px;
  }
}

.filters__radio + .filters__label:hover::before {
  border-color: $grey-radio;
}

.filters__radio + .filters__label:active {
  opacity: 0.3;
}

.filters__radio + .filters__label::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $basic-green;
  flex-shrink: 0;
  left: 8px;
  top: 8px;
  display: none;

  @include tablet {
    left: 11px;
    top: 11px;
    width: 18px;
    height: 18px;
  }
}

.filters__radio:checked + .filters__label::after {
  display: inline-flex;
}

.filters__checkbox + .filters__label::before {
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid $grey-line-small;
  flex-shrink: 0;
  margin-right: 10px;

  @include tablet {
    width: 40px;
    height: 40px;
  }
}

.filters__checkbox + .filters__label:hover::before {
  border-color: $grey-radio;
}

.filters__checkbox + .filters__label:active {
  opacity: 0.3;
}

.filters__checkbox:checked + .filters__label .filters__icon-tick {
  display: block;
}

.filters__checkbox {
  margin-right: 10px;
}
