.filters__list {
  @include reset-ul;

  @include tablet {
    border: 1px solid $grey-border;
    padding: 25px 28px 29px 28px;
  }
}

.filters__list--add {
  display: flex;
  flex-direction: column;
  border: 0;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.filters__item--add {
  @include tablet {
    width: 50%;
  }

  @include desktop {
    width: 25%;
  }
}

.filters__item {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}

.filters__label {
  align-items: center;
  position: relative;
  cursor: pointer;
  display: inline-flex;
}

.filters__radio + .filters__label::before {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $grey-line-small;
  flex-shrink: 0;
  box-sizing: border-box;
}

.filters__radio + .filters__label::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $basic-green;
  flex-shrink: 0;

  left: 8px;
  top: 8px;
  display: none;
}

.filters__radio:checked + .filters__label::after {
  display: inline-flex;
}

.filters__checkbox + .filters__label::before {
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid $grey-line-small;
  flex-shrink: 0;
}

.filters__checkbox + .filters__label::after {
  content: "";
  position: absolute;
  flex-shrink: 0;
  left: 8px;
  top: 8px;
  display: none;
}

.filters__checkbox:checked + .filters__label::after {
  display: inline-flex;
}
