.flex-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flex-wrapper--desktop-row {
  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    padding: 86px 110px 85px 110px;
  }
}
