.footer {
  background-color: $background-grey;
  padding: 40px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 55px 30px 61px 30px;
  }

  @include desktop {
    padding: 55px 110px;
  }
}

.footer__logo {
  padding-bottom: 32px;
  fill: $dark-grey;

  @include tablet {
    align-items: center;
    padding-bottom: 0;
  }
}

.footer__link {
  &:hover .footer__icon {
    opacity: 0.8;
  }

  .footer__link {
    &:active .footer__icon {
      opacity: 0.6;
    }
  }
}
