.form__title {
  font-size: 36px;
  line-height: 36px;
}

.form__text {
  text-transform: uppercase;
}

.form__fieldset {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-grey;
  padding: 0 20px 25px 20px;
  margin: 0;
  border: 0;
  border-bottom: 1px solid $grey-fieldset;
}

.form__item {
  margin: 0 0 14px 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label {
  margin-right: 14px;
}

.form__input {
  border: 1px solid $grey-border;
  text-transform: uppercase;
  padding: 10px 20px;
  transition: border-color 0.3s linear;
  outline: 0;

  &:hover {
    border-color: $grey-line-small;
  }

  &:focus {
    border-color: $basic-grey;
  }

  &:invalid {
    border-color: $red;
  }
}

.form__textarea {
  min-height: 150px;
  box-sizing: border-box;
  border: 1px solid $grey-border;
  text-transform: uppercase;
  padding: 14px;
  transition: border-color 0.3s linear;
  outline: 0;

  &:hover {
    border-color: $grey-line-small;
  }

  &:focus {
    border-color: $basic-grey;
  }
}

.form__button {
  @include reset-button;
  color: $basic-white;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: $basic-green;
  padding: 7px 10px;
  transition: all 0.3s linear;

  &:hover {
    background-color: $green-hover;
  }

  &:active {
    color: $green-active-text;
  }
}

.form__help {
  font-family: $font-arial;
  line-height: 16px;
  margin: 0;
  text-align: center;
}
