.form {
  display: flex;
  flex-direction: column;
  padding: 0;

  @include tablet {
    padding: 0 70px;
  }

  @include desktop {
    padding: 0 30px;
  }
}

.form__wrapper {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.form__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 27px 20px 37px;
  border-top: 1px solid $grey-fieldset;
  box-sizing: border-box;
  width: 100%;

  @include tablet {
    font-size: 60px;
    line-height: 60px;
  }
}

.form__text {
  text-transform: uppercase;
  margin: 0;
  width: 230px;
  padding-bottom: 37px;
  padding-left: 20px;

  @include tablet {
    font-size: 20px;
    line-height: 30px;
    width: 330px;
  }
}

.form__fieldset {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-grey;
  padding: 0 0 26px 20px;
  margin: 0;
  border: 0;
  // border-bottom: 1px solid $grey-fieldset;

  @include tablet {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__legend {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;

  @include tablet {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__fieldset--bio,
.form__fieldset--programm {
  border-bottom: 1px solid $grey-fieldset;
  padding: 21px 0 21px 20px;


  @include desktop {
    width: 50%;
    border: none;
  }
}

.form__item {
  margin: 0 0 14px 0;
  display: flex;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__item--contact {
  @include desktop {
    width: 48%;
  }
}

.form__label {
  margin-right: 14px;
  flex-shrink: 0;
}

.form__input {
  border: 1px solid $grey-border;
  text-transform: uppercase;
  padding: 10px 20px;
  transition: border-color 0.3s linear;
  outline: 0;
  width: 100%;

  &:hover {
    border-color: $grey-line-small;
  }

  &:focus {
    border-color: $basic-grey;
  }

  &:invalid {
    border-color: $red;
  }

  @include tablet {
    width: 100%;
  }
}

.form__textarea {
  width: 100%;
  min-height: 150px;
  box-sizing: border-box;
  border: 1px solid $grey-border;
  text-transform: uppercase;
  padding: 14px;
  transition: border-color 0.3s linear;
  outline: 0;

  &:hover {
    border-color: $grey-line-small;
  }

  &:focus {
    border-color: $basic-grey;
  }

  @include tablet {
    min-height: 174px;
  }
}

.form__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    flex-direction: row;
  }
}

.form__button {
  @include reset-button;
  color: $basic-white;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: $basic-green;
  padding: 7px 10px;
  transition: all 0.3s linear;

  &:hover {
    background-color: $green-hover;
  }

  &:active {
    color: $green-active-text;
  }

  @include tablet {
    width: 44%;
  }

  @include desktop {
    width: 568px;
  }
}

.form__help {
  font-family: $font-arial;
  line-height: 16px;
  margin: 0;
  text-align: center;
}
