.gift {
  background-image: url("../img/gift-photo-mobile.jpg");
  height: 289px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include desktop {
    background-image: url("../img/gift-photo-desktop.jpg");
  }
}

.gift__text {
  font-family: $font-arial;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
  text-align: center;
  margin: 0;
}
