.gift {
  background-image: url("../img/gift-photo-mobile.jpg");
  height: 289px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 60px 39px 43px;
  box-sizing: border-box;
  align-self: stretch;

  @include tablet {
    flex-direction: row;
    height: 200px;
  }

  @include desktop {
    background-image: url("../img/gift-photo-desktop.jpg");
    flex-direction: column;
    margin-left: 79px;
    height: auto;
    width: 245px;
  }
}

.gift__icon {
  fill: $basic-white;
}

.gift__text {
  font-family: $font-arial;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $basic-white;
  text-align: center;
  margin: 0;
}
