.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 11px 20px 0 20px;
  margin-bottom: 16px;

  @include tablet {
    padding: 17px 30px 29px 30px;
  }

  @include desktop {
    padding: 46px 113px 101px 113px;
    margin-bottom: 0;
  }
}

.header__logo {
  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }

  @include tablet {
    margin-bottom: 0;
  }
}

.header__burger {
  @include reset-button;
  display: flex;
  flex-direction: column;

  @include tablet {
    display: none;
  }
}

.header__burger-icon--close {
  display: none;
}

.header__burger.m-show {
  & span {
    margin-bottom: 0;

    &:nth-child(3) {
      display: none;
    }

    &:nth-child(1) {
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      transform: rotate(-45deg);
    }
  }
}
