.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 11px 20px 0 20px;
  margin: 0 auto 16px auto;


  @include tablet {
    margin: 17px 30px 50px 30px;
    padding: 0;
  }

  @include desktop {
    max-width: 1220px;
    margin: 46px 0 101px 0;
  }
}

.header__logo {
  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }

  @include tablet {
    margin-bottom: 0;
  }
}

.header__burger {
  @include reset-button;
  display: flex;
  flex-direction: column;

  @include tablet {
    display: none;
  }
}

.header__burger-icon--close {
  display: none;
}

.header__burger.m-show {
  & .header__burger-icon--close {
    display: block;
  }

  & .header__burger-icon--open {
    display: none;
  }
}
