.main-menu {
  display: none;
  position: relative;
  width: 100%;


  @include tablet {
    display: block;
    width: auto;
  }
}

.main-menu.m-show,
.main-menu.no-js {
  display: block;
}

.main-menu__list {
  @include reset-ul;
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }
}

.main-menu__item {
  border-bottom: 1px solid $grey-menu;
  padding-bottom: 24px;
  padding-top: 22px;
  width: 100%;
  text-align: center;

  &:first-child {
    border-top: 1px solid $grey-menu;
  }

  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }

  @include tablet {
    margin-right: 34px;
    width: auto;
    border: 0;

    &:last-child {
      margin-right: 0;
    }

    &:first-child {
      border: 0;
    }
  }
}

.main-menu__link {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: $basic-black;

  @include tablet {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    &--active {
      border-bottom: 2px solid $basic-green;
    }
  }

  @include desktop {
    font-size: 20px;
    line-height: 30px;
    color: $basic-white;

    &--active {
      border-bottom: 2px solid $basic-white;
    }
  }
}
