.product-add {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 14px;
  border-bottom: 1px solid $grey-line-small;
  width: 100%;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $grey-line-small;
    border-bottom: 0;
    margin-bottom: 0;
    padding: 30px 40px;
    box-sizing: border-box;

    &:last-child {
      border-bottom: 1px solid $grey-line-small;
    }
  }

  @include desktop {
    border-right: 0;
    border-left: 0;
    padding: 15px 0;
  }
}

.product-add__title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $catalog-grey;
  margin: 0;

  @include tablet {
    font-size: 20px;
    line-height: 20px;
  }

  @include desktop {
    width: 30%;
  }
}

.product-add__text {
  display: flex;
  justify-content: space-between;
  font-family: $font-arial;
  font-size: 14px;
  line-height: 14px;
  color: $basic-grey;
  margin: 0;

  @include tablet {
    font-size: 16px;
    line-height: 20px;
    width: 30%;
  }
}

.product-add__link {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $basic-white;
  background-color: $basic-green;
  padding: 10px 0;

  @include desktop {
    width: 30%;
  }
}
