.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 14px;
  border-bottom: 1px solid $grey-line;
}

.product__content {
  margin-bottom: 13px;
}

.product__name {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $catalog-grey;
}

.product__info {
  @include reset-ul;
}

.product__info-item {
  font-family: $font-arial;
  font-size: 12px;
  line-height: 16px;
  color: $basic-grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product__link {
  width: 100%;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
  color: $basic-white;
  background-color: $basic-green;
}

@media (min-width: $tablet-width) {
  .product {
    background-color: $background-grey;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 0 40px 40px 40px;
    box-sizing: border-box;
  }

  .product__name {
    font-size: 20px;
    line-height: 24px;
  }

  .product__info-item {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .product {
    width: 25%;
  }
}
