.product {
  border-bottom: 1px solid $grey-line;
}

.product__name {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $catalog-grey;
}

.product__info {
  @include reset-ul;
}

.product__info-item {
  font-family: $font-arial;
  font-size: 12px;
  line-height: 16px;
  color: $basic-grey;
}

.product__link {
  line-height: 0px;
  font-size: 16px;
  text-transform: uppercase;
  color: $basic-white;
  background-color: $basic-green;
}
