.product {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 14px;
  border-bottom: 1px solid $grey-line;
  width: 100%;
  padding-bottom: 30px;

  @include tablet {
    background-color: $background-grey;
    flex-direction: column;
    align-items: center;
    width: calc(50% - 60px);
    padding: 0 37px 40px 37px;
    box-sizing: border-box;
    margin-bottom: 130px;
    border-bottom: none;
    margin-right: 60px;

    &:nth-child(odd) {
      margin-right: 0;
    }
  }

  @include desktop {
    width: 25%;
  }
}

.product__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 13px;
  margin-top: 17px;
  width: 100%;

  @include tablet {
    flex-direction: column;
    margin-bottom: 33px;
  }
}

.product__image {
  width: 50%;

  @include tablet {
    width: 100%;
    position: relative;
    top: -58px;
  }
}

.product__content {
  width: 50%;

  @include tablet {
    width: 100%;
  }
}

.product__name {
  width: 76px;
  margin-top: 10px;
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $catalog-grey;

  @include tablet {
    font-size: 20px;
    line-height: 24px;
    width: 166px;
    text-align: center;
    margin: 30px auto;
  }

  @include desktop {
    line-height: 21px;
  }
}

.product__info {
  @include reset-ul;
}

.product__info-item {
  font-family: $font-arial;
  font-size: 12px;
  line-height: 16px;
  color: $basic-grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include tablet {
    font-size: 16px;
    margin-bottom: 9px;
    border-bottom: 1px solid $grey-line-small;
  }
}

.product__link {
  width: 100%;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
  color: $basic-white;
  background-color: $basic-green;
}
