.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $grey;

  @include tablet {
    background: linear-gradient(to right, $background-grey 50%, $grey 50%);
  }
}

.slider__wrapper {
  @include tablet {
    width: 100%;
  }
}

.slider__list {
  @include reset-ul;
  display: flex;
  align-items: center;
  padding: 0 0 22px;

  @include tablet {
    min-height: 354px;
    position: relative;
    width: 100%;
    padding: 0;
  }
}

.slider__item {
  display: none;

  &.m-current {
    display: block;
  }

  @include tablet {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 4px;
    left: 7px;
  }

  @include desktop {
    bottom: 23px;
    left: 13px;
  }
}

.slider__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;

  @include tablet {
    margin-bottom: 64px;
  }

  @include desktop {
    margin-left: 78px;
  }
}

.slider__button {
  @include reset-button;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 6px 0;

  @include tablet {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted $grey-fieldset;
  }
}

.slider__scale {
  width: 84px;
  height: 12px;
  border: 1px solid $grey-fieldset;
  border-radius: 50px;
  background: $basic-white;
  position: relative;
  cursor: pointer;
  margin: 0 17px;

  @include tablet {
    width: 428px;
    height: 6px;
    margin: 0 25px;
    background: $grey-fieldset;
  }
}

.slider__bar {
  width: 35px;
  height: 6px;
  border-radius: 50%;
  background: $basic-green;
  top: 3px;
  left: 9px;
  position: absolute;
  cursor: pointer;

  @include tablet {
    width: 34px;
    height: 34px;
    border-radius: 50px;
    background: $basic-white;
    border: 1px solid $grey-fieldset;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.15);
    top: -14px;
    left: 199px;

    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: $basic-green;
      margin: auto;
    }
  }
}
